  /* modal css */
  .modal button.close {
    font-size: 40px !important;
    margin: 0 2.5rem  !important;
    padding: 0 !important;
  }
  .modal.left .modal-dialog {
      position:absolute;
      top:0;
      left:0;
      margin:0;
  }
    
  .modal.left .modal-content{
      min-height:100vh;
      border:0;
  }
  
  .filter-options{
    display: flex;
    flex-wrap: wrap;
  }
  .filter-options > div{
    flex: 50%;
  }
  .filterModal label{
    padding: 0 15px;
  }
  
  .modalmainContainer{
    flex: 60%;
    display: flex;
    flex-wrap: wrap;
  }
  
  .filter{
    width: 33%;
    padding: 0 5px;
  }
  .filter p{
    margin: 0px;
  }
  .filter img{
    width: 100%;
    height: auto;
    max-width: 250px;
  }
  .modal-header{
    padding: 1rem 0  0 1rem;
  }
  
  .modalFilterbtn{
    text-align: center;
  }
  .modal-body {
    max-height: 100vh;
    overflow-y: auto;
  }
  .modal-footer{
    width: 100%;
  }
  
  #mymodal2 { 
    max-width: 880%;
  }

  .modalpullRight{
    margin-left: 500px;
  }